html{
    height:100%;    
}
    

body {
    text-align:center;
    height:100%;
    margin:0px;
    padding:0px;
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
    height:100%
}

#main{
    width:98%;
    margin:0px auto;
    height:100%;
}

.debugtools{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    height:30px;
    bottom:0px;
    position:fixed;
}

.debugtools li {
    display:inline;
    margin:3px 0px 3px 0px;
}

textarea{
    box-sizing:border-box;    
}

#codeTA {
    font-family:monospace;
    font-size:13px;
    width: 100%;
    height:40%;    
}
#resultTA {
    font-family:monospace;
    font-size:13px;
    width:100%;
    height:30%;    
    background-color:#DDDDDD;
}


#btn_exec{
    display:block;
    
}